<footer>
    <div class="row">
        <div class="col-sm-4 offset-sm-1">&copy; a fan of <em>ONE PIECE</em></div>
        <div class="col-sm-4 offset-sm-3">
            <div class="row">
                <div class="col-3 col-sm-1">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share"
                       data-show-count="false">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="col-3 col-sm-1">
                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcse322-sm450203924.c9users.io%2FA12%2Fhtml%2FCast.html&amp;src=sdkpreparse">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="col-3 col-sm-1">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="col-3 col-sm-1">
                    <i class="fab fa-github"></i>
                </div>
            </div>

        </div>
    </div>
</footer>