.container {
  h1 {
    font-family: "Rockit";
    color: rgba(147, 30, 5, 0.9);
    font-size: 1.5em;
    letter-spacing: 0.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h2 {
    font-family: Times New Roman;
    color: #ECEC01;
    font-size: 1.6em;
    font-weight:normal;
  }
  h3 {
    font-family: Courier New;
    font-size: 1.1em;
    margin-top: 1em;
    font-weight:normal;
  }
  p {
    font-size: 14px !important;
  }
}
